<% include partials/header %>
<% include partials/nav %>


<div class="container">
<div class="jumbotron">
<!--<div class="main-content">-->
<div class="col-sm-12 text-center">
  <h2 class="second"> <%=title %></h2>
</div><br />

    <table class="table table-bordered table-inverse table-hover  text-center">
       <thead class="bg-primary">
         <tr>
           <th> Pika kufitare </th>
           <th> Hyrje min minuta</th>
           <th> Hyrje max minuta</th>
           <th> Hyrje min metra</th>
           <th> Hyrje max metra</th>
           <th> Dalje min minuta</th>
           <th> Dalje max minuta</th>
           <th> Dalje min metra</th>
           <th> Dalje max metra</th>
         
          
         </tr>
       </thead>
      
      <tbody>
         <tr>
            <% for(var i=0; i<docs.length; i++){%>
              <td class="bg-info"><%= docs[i].pika_kufitare %></td>
              <td><%= docs[i].hyrje_min_minuta %></td>
              <td><%= docs[i].hyrje_max_minuta %></td>
              <td><%= docs[i].hyrje_min_metra %></td>
              <td><%= docs[i].hyrje_max_metra %></td>
              <td><%= docs[i].dalje_min_minuta %></td>
              <td><%= docs[i].dalje_max_minuta %></td>
              <td><%= docs[i].dalje_min_metra %></td>
              <td><%= docs[i].dalje_max_metra %></td>
              <td class="bg-warning"> <a href="/edit/<%= docs[i]._id %>"><i class="fa fa-pencil" aria-hidden="true"> Ndrysho</i></a>
              </td>
              <td class="bg-danger"> <!--<button onclick="myFunction()">-->
              <a href="/delete/<%= docs[i]._id %>"><i class="fa fa-trash"> Fshij</i></a>
              </td>
        </tr>
  
          <% } %>

    
    </tbody>

  </table>


     
    </div>
  </div>
  
  <% include partials/footer %>



